option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: coffeeshop.wsgi:application
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: coffeeshop.settings
    "PYTHONPATH": "/var/app/current:$PYTHONPATH"
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: /var/app/current/staticfiles
